
.btn{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.button{
  width: 150px;
  height: 35px;
  /* margin: 15px; */
}

.err{
  color: red;
  font-size: 10px;
}

.mybtn{
  width: 90%;
  height: 35px;
  margin: 15px;
}